@charset "utf-8";
/* CSS Document */

.full-width-video {
  width: 100vw;       /* 100% of viewport width */
  height: auto;       /* keeps aspect ratio */
  display: block;     /* removes inline spacing */
  margin: 0;          /* removes any default margin */
  padding: 0;
  object-fit: cover;  /* ensures the video fills container */
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1919;
  color: #FFDD68;
  font-family: "Amatic";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 5s ease forwards;
  animation-delay: 1s;
}

.fade-in-text {
  opacity: 0;
  animation: fadeIn 5s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.video-wrapper {
  width: 100%;
  margin: 40px 0;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
margin-top: 250px;
	margin-bottom: 350px;
}


.top-text {
  margin-top: 200px;
	margin-bottom: -500px;
  color: #FFDD68;
  font-family: "Amatic";
	display: flex;
	 flex-direction: column;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  text-align: center;       /* Centers text inside */
	font-size: 2em; /* Default font size */
  width: 100%;
  max-width: 1200px;
  height: 400px;
	 position: relative;
	
	background-image: url('images/sheepeyes.jpg');
  background-size: contain; /* Makes sure the pictogram fits the container */
  background-repeat: no-repeat; /* Ensures the background doesn't repeat */
  background-position: center;
	
	
	@media (max-width: 768px) {
  .top-text {
    font-size: 1.2em; /* Smaller font size */
    padding: 20px; /* Less padding on mobile */
    height: 300px; /* Adjust height */
  }

		.top-text p {
    font-size: 1em; /* Adjust paragraph size */
}
		
		.pictogram {
width: 100vw;       /* 100% of viewport width */
  height: auto;       /* keeps aspect ratio */
  display: block;     /* removes inline spacing */
			display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */

}
		
		
